# Build output
/target/
**/target/

# IntelliJ / IDEA
.idea/
*.iml
*.iws
*.ipr

# OS noise
.DS_Store
Thumbs.db

# Logs / temp
*.log

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper-downloader.jar
